{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}


<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

</head>

<body>

    <div class="form-div">
        <form method="POST" action="{{ url_for('register') }}">
            <div class="user-box">
                <input type="text" name="name" required>
                <label for="name">Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="email" required>

                <label for="email">Email</label>
            </div>
            <div class="user-box">
                <div class="password-container">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                    <button type="button" class="eye-button" onclick="togglePassword('password')">
                        <img src="{{ url_for('static', filename='images/eye-icon.svg') }}" alt="Eye Icon" class="eye-icon">
                    </button>
                </div>
            </div>
            <div class="user-box">
                <div class="password-container">
                    <input type="password" name="confirm_password" id="confirm_password" required>
                    <label for="confirm_password">Confirm Password</label>
                    <button type="button" class="eye-button" onclick="togglePassword('confirm_password')">
                        <img src="{{ url_for('static', filename='images/eye-icon.svg') }}" alt="Eye Icon" class="eye-icon">
                    </button>
                </div>
            </div>

            <div class="user-box">
                <button type="submit">Register</button>
            </div>

    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}

    </div>

    <script>
        function togglePassword(inputId) {
            const input = document.getElementById(inputId);
            const type = input.getAttribute("type") === "password" ? "text" : "password";
            input.setAttribute("type", type);
        }
    </script>


</body>


{% endblock %}